<section id="projects">
  <div class="project-container">
    <a class="project" (click)="openDialog('Midnight Tempo')">
      <img src="../../assets/midnightTempo.gif">
      <div class="info">
        <span>Midnight Tempo</span>
        <div class="type">Unity Game (Desktop)</div>
      </div>
    </a>
    <a class="project" (click)="openDialog('EnableU')">
      <img src="../../assets/EnableU.png">
      <div class="info">
        <span>EnableU</span>
        <div class="type">StarterHacks 2018</div>
      </div>
    </a>
  </div>
</section>
